@{
    Layout = null;
    ViewData["Title"] = "Chamado";
}

<!DOCTYPE html>
    <html>
    <head>
        <title>
                        @ViewData["Title"]
        </title>
    </head>
    <body>
    
    </body>
    </html>